.main {
  background-color: var(--primary-dark);
  height: 100%;
  width: 100%;
  margin-left: 82px;
  border-radius: 22px;
  border-top-left-radius: 0;
}
.hero {
  background-color: var(--white);
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
.rightSec {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.centerLoading {
  overflow: hidden;
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.messagesContainer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.dayLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-style: oblique;
  padding: 0rem 1rem;
}
.dayLabel span {
  font-weight: 300;
  padding: 8px 10px;
  border-radius: 10px;
}
.messageContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  width: 100%;
  padding: 0 0.2rem 0 1rem;
}
.messageContainer strong {
  margin-bottom: 0.4rem;
}
@media (max-width: 1024px) {
  .main {
    min-width: 430px;
  }
  .mainScreen::before {
    display: none;
  }
  .mainSec {
    background-color: var(--white);
    min-width: 430px;
    height: 100%;
    margin-left: 6px;
    border-top-left-radius: 22px;
  }
}
@media (max-width: 435px) {
  .mainScreen {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .mainSec {
    background-color: var(--white);
    min-width: 430px;
    height: 100%;
    margin-left: 0px;
    border-radius: 0;
  }
}
