.messageContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  width: 100%;
  padding: 0 0.2rem 0 1rem;
}
.messageContainer strong {
  margin-bottom: 0.4rem;
}
.messageBubble {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 10px 15px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 14px;
}
.messageContainer.sent .messageBubble {
  background-color: var(--primary-hard);
  color: white;
}
.messageContainer.received .messageBubble {
  background-color: #f1f0f0;
  color: black;
}
.messageContainer.sent {
  justify-content: flex-end;
}
.messageContainer .received {
  justify-content: flex-start;
}
.mssgTime {
  font-size: 0.7rem;
  padding-top: 0.3rem;
  font-style: oblique;
  align-self: flex-end;
}
.messageProfilePic {
  align-self: flex-end;
  width: 3rem;
  height: 3rem;
  margin: 0 0.6rem 0.6rem 0;
}
