:root {
  --primary: #4d50f5;
  --primary-soft: #9f97e4;
  --primary-hard: #7678ed;
  --primary-xhard: #3c18bd;
  --primary-dark: #202022;

  --secondary-soft: #c7c3fc;

  --input-color: #d2cdffcc;
  --Dark-theme-Btn: #2e334a;

  --log-out: #f25c54;

  --error-soft: #ef7674;
  --error-strong: #e95252;
  --error-hard: #902923;

  --warning-soft: #efdc74;
  --warning-hard: #8a6709;

  --remove-Btn: #f02d3a;

  --done-soft: rgb(70, 218, 102);
  --done-md: rgb(32, 182, 64);
  --done-heavy: rgb(12, 73, 26);

  --remove-Btn: #d44141;

  --text-gray: #6c757d;

  --white: #f9fafc;
}
body,
html {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
}
* {
  font-family: var(--font-poppins);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------------------------- ScrollBar --------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px !important;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.notFound {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.backHome {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-dark);
  width: 100px;
  height: 3.2rem;
  justify-content: center;
  color: var(--white);
  padding: 0.6rem 1rem;
  font-size: large;
  font-weight: 700;
  border-radius: 60px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 2px 2px -3px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  transition: 0.1s;
  text-decoration: none;
}
.backHome:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
.backHome:active {
  transform: scale(0.96);
}
