@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #4d50f5;
  --primary-soft: #9f97e4;
  --primary-hard: #7678ed;
  --primary-xhard: #3c18bd;
  --primary-dark: #202022;

  --secondary-soft: #c7c3fc;

  --input-color: #d2cdffcc;
  --Dark-theme-Btn: #2e334a;

  --log-out: #f25c54;

  --error-soft: #ef7674;
  --error-strong: #e95252;
  --error-hard: #902923;

  --warning-soft: #efdc74;
  --warning-hard: #8a6709;

  --remove-Btn: #f02d3a;

  --done-soft: rgb(70, 218, 102);
  --done-md: rgb(32, 182, 64);
  --done-heavy: rgb(12, 73, 26);

  --remove-Btn: #d44141;

  --text-gray: #6c757d;

  --white: #f9fafc;
}
body,
html {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* --------------------------- ScrollBar --------------------------------------- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px !important;
}
body {
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
.profile-pic {
  height: 100% !important;
  width: 100% !important;
}
