.friendListMain {
  overflow-x: hidden;
  border-bottom-left-radius: 22px;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  box-shadow:
    rgba(50, 50, 93, 0.2) 0px 0px 50px -6px inset,
    rgba(0, 0, 0, 0.2) 0px 0px 0px -80px inset;
}
.friendList {
  display: flex;
}