.addfriendAlert {
  display: flex;
  flex-direction: end;
  border-radius: 1rem;
  width: 60%;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 2px 2px -3px,
    rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}