.chatHeader {
  height: 14%;
  padding: 0.7rem 1rem 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatHeader label {
  font-size: xx-large;
  font-weight: 600;
  text-wrap: nowrap;
}
.chatHeader p {
  color: var(--text-gray);
}
.chatConsole {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  height: 100%;
}
.chatInput {
  align-items: center;
  padding: 0.6rem 1.25rem;
}
.chatInput input {
  background-color: rgba(169, 153, 173, 0.226);
  width: 100%;
  padding: 1.2rem 6.25rem 1.2rem 3.25rem;
  border: none;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .chatHeader .headerInfo {
    padding-left: 3.2rem;
  }
}
@media (max-width: 435px) {
  .chatHeader {
    justify-content: center;
  }
  .chatHeader .headerInfo {
    display: flex;
    flex-direction: column;
    padding-left: 0rem;
    align-items: center;
  }
  .backBtn {
    position: absolute;
    left: 1rem;
  }
}
