.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm {
  width: 28rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 36px;
  gap: 20px;
}
.loginForm input {
  width: 100%;
  height: 3rem;
  gap: 5px;
  border-radius: 26px;
  border: none;
}
.input {
  padding-left: 16px;
  padding-right: 10px;
  background-color: var(--input-color);
}
.input::placeholder {
  color: rgb(134, 134, 134);
}
.loginBtn {
  cursor: pointer;
  color: white;
  background-color: var(--Dark-theme-Btn);
  font-weight: 600;
  font-size: large;
}
.loginWith {
  display: flex;
  justify-content: space-between;
}
.loginWith button {
  width: 122px;
  padding: 12px 0px;
  font-weight: 600;
  font-size: large;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
.signUpBtn {
  cursor: pointer;
  font-weight: 600;
  font-size: large;
}
.errorContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--error-soft);
  position: absolute;
  z-index: 10;
  bottom: -5px;
  left: 50px;
  min-width: 25rem;
  max-width: 32rem;
  border-radius: 20px;
  padding: 1.5rem 1.5rem;
  margin-bottom: 2rem;
}
.errorIcon {
  font-size: 3rem;
  min-width: 3rem;
  color: var(--error-hard);
}
.errorClose {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  min-width: 1.5rem;
  color: var(--error-hard);
  cursor: pointer;
}
.errorContainer strong {
  color: var(--error-hard);
}
