.membersContainer {
  background-color: var(--secondary-soft);
  overflow: hidden !important;
  border-radius: 22px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}