.navBar {
  position: absolute;
  left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: 50px;
}
.navBar::after {
  content: "";
  position: absolute;
  z-index: -30;
  background-color: var(--primary-dark);
  top: 74px;
  left: 53.5px;
  height: 25px;
  width: 12.5px;
  border-top-right-radius: 12.5px;
  box-shadow: 0 -12.5px 0 0 rgba(255, 255, 255, 0.888);
}
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0.4rem;
  margin-top: 10px;
  height: 54px;
  width: 54px;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 15;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.sideIcon {
  font-size: 22px;
}
.logoutBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}
.logoutBtn:hover {
  color: var(--log-out) !important;
}
.logoutIcon {
  font-size: 22px;
  color: var(--log-out);
}
.sideBtn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sideBtn:hover {
  color: var(--primary-hard);
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .icons {
    display: none;
  }
  .profile .ppContainer {
    visibility: hidden;
  }
}
