.dashboard-main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.friend-list {
  display: flex;
}
.friendList-main {
  border-bottom-left-radius: 22px;
  width: 100%;
  overflow-y: auto;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 0px 50px -6px inset,
    rgba(0, 0, 0, 0.2) 0px 0px 0px -80px inset;
}
.chat-sec {
  display: flex;
  height: 100%;
}
/* ---------- Search Bar ------------- */
.search-main {
  position: relative;
  display: flex;
  width: 100%;
  padding: 16px 20px 5px 20px;
  align-items: center;
}
.search-bar {
  background-color: var(--secondary-soft);
  flex-grow: 1;
  padding: 10px 5px 10px 28px;
  border: none;
  border-radius: 12px;
}
.search-bar::placeholder {
  color: rgb(36, 36, 36);
}
.search-icon {
  position: absolute;
  font-size: large;
  left: 26px;
}
/* ---------- Subject ------------- */
.subject-main {
  margin: 10px 10px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  transition: 0.1s;
}
.subject-main:hover {
  background-color: var(--secondary-soft);
  cursor: pointer;
}
.subject-main:active {
  background-color: var(--primary-hard);
  cursor: pointer;
  transform: scale(0.98);
  p {
    color: white;
  }
}
.friend-pp-container {
  width: 3rem;
  height: 3rem;
  margin-right: 8px;
}
.subject-main::selection {
  background-color: var(--primary-hard);
  cursor: pointer;
}
.subject-info {
  display: flex;
}
.subject-img {
  background-color: black;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin-right: 8px;
}
.mssg-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  justify-content: space-around;
}
.mssg-info label {
  font-weight: 600;
}
.top {
  display: flex;
  justify-content: space-between;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.notification-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--log-out);
  color: rgb(245, 245, 245);
  font-size: small;
  border-radius: 20px;
  padding: 0px 3px;
  min-width: 18px;
  height: 18px;
}
.last-messege {
  color: var(--text-gray);
  text-wrap: nowrap;
}
.lastseen {
  font-size: 0.7rem;
  color: var(--text-gray);
}
/*---------------- Chat window --------------- */
.chat-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 14px;
}
.chat-header {
  height: 14%;
  padding: 10px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-header label {
  font-size: xx-large;
  font-weight: 600;
  text-wrap: nowrap;
}
.chat-header p {
  color: var(--text-gray);
}
.header-icons {
  color: var(--text-gray);
  font-size: x-large;
  display: flex;
  gap: 16px;
  padding-right: 10px;
}
.chat-console {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  padding-top: 0.5rem;
  height: 100%;
}
.chat-input {
  height: 12%;
  align-items: center;
  padding: 0px 20px;
}
.input-box {
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(26, 26, 26, 0.6);
}
.chat-input input {
  background-color: rgba(169, 153, 173, 0.226);
  width: 100%;
  padding: 18px 100px 18px 52px;
  border: none;
  border-radius: 10px;
}
.clip-icon {
  cursor: pointer;
  position: absolute;
  font-size: x-large;
  left: 16px;
}
.mic-icon {
  cursor: pointer;
  position: absolute;
  font-size: x-large;
  right: 60px;
}
.send-icon {
  cursor: pointer;
  position: absolute;
  font-size: x-large;
  right: 15px;
}
.circular-progress {
  align-self: center;
}
