.empty-chats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.empty-chats span {
  color: rgba(0, 0, 0, 0.48);
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 1rem 3rem 0rem 3rem;
  text-wrap: pretty;
}
.messages-continer {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0.7rem;
}
.message-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  width: 100%;
}
.message-container strong {
  margin-bottom: 0.4rem;
}
.message-bubble {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-soft);
  border-radius: 16px;
  padding: 10px 15px;
  max-width: 70%;
  word-wrap: break-word;
  font-size: 14px;
}
.message-container.sent .message-bubble {
  background-color: var(--primary-soft);
  color: white;
}
.message-container.received .message-bubble {
  background-color: #f1f0f0;
  color: black;
}
.message-container.sent {
  justify-content: flex-end;
}
.message-container .received {
  justify-content: flex-start;
}
.mssg-time {
  font-size: 0.7rem;
  padding-top: 0.3rem;
  font-style: oblique;
  align-self: flex-end;
}
.message-pp {
  align-self: flex-end;
  width: 3rem;
  height: 3rem;
  margin: 0 0.6rem 0.6rem 0;
}
.empty-chat {
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
