.friendsSearchMain {
  position: relative;
  display: flex;
  width: 100%;
  padding: 16px 20px 5px 20px;
  align-items: center;
}
.friendsSearchIcon {
  position: absolute;
  font-size: large;
  left: 26px;
}
.friendsSearchBar {
  background-color: var(--secondary-soft);
  flex-grow: 1;
  padding: 10px 5px 10px 28px;
  border: none;
  border-radius: 12px;
}
.friendsSearchBar::placeholder {
  color: rgb(36, 36, 36);
}
