.inputBox {
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(26, 26, 26, 0.6);
}
.inputBox input {
  outline: none;
  padding-left: 4.7rem !important;
}
.sendIcon {
  cursor: pointer;
  position: absolute;
  right: 15px;
}
.sendActive {
  color: var(--primary-hard) !important;
  cursor: pointer;
  position: absolute;
  right: 15px;
}
