.friendListMain {
  will-change: transform;
  animation: slideIn 0.3s ease-out forwards;
  overflow-x: hidden;
  border-bottom-left-radius: 22px;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  box-shadow:
    rgba(50, 50, 93, 0.2) 0px 0px 50px -6px inset,
    rgba(0, 0, 0, 0.2) 0px 0px 0px -80px inset;
}
.centerLoading {
  overflow: hidden;
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.friendList {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.groupSubjects {
  display: flex;
  justify-content: start !important;
  margin: 0.5rem 1rem;
  margin-bottom: 0rem;
}
@media (max-width: 435px) {
  .friendListMain {
    height: 100%;
    margin-top: 0.5rem;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
